.Home_container__bCOhY{position:fixed;bottom:0;left:50%;transform:translateX(-50%)}
.Home_stage__80p1Q{position:absolute;bottom:0}
.Home_options__Lxd7W{position:fixed;right:10px;top:10px;display:flex;flex-direction:column;align-items:center;z-index:999}
.Home_bgm__ro3pg{padding:10px 0 0;border:0;background-color:transparent}
.Home_mute__Q0jOB{color:#666}
