.container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.stage {
    position: absolute;
    bottom: 0;
}

.options {
    position: fixed;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

.bgm {
    padding: 10px 0 0 0;
    border: 0;
    background-color: transparent;
}

.mute {
    color: #666;
}
